<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.webServer">
			<section name="defaultDocument" overrideModeDefault="Allow" />
			<section name="globalModules" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
			<section name="staticContent" overrideModeDefault="Allow" />
		</sectionGroup>
	</configSections>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="index.html" />
			</files>
		</defaultDocument>

		<directoryBrowse enabled="false" />
		<globalModules>
			<add name="DefaultDocumentModule" image="%IIS_BIN%\defdoc.dll" />
			<add name="StaticFileModule" image="%IIS_BIN%\static.dll" />
			<add name="AnonymousAuthenticationModule" image="%IIS_BIN%\authanon.dll" />
		</globalModules>
		<staticContent>
			<remove fileExtension=".md" />
			<mimeMap fileExtension=".md" mimeType="text/markdown" />
		</staticContent>
		<handlers accessPolicy="Read, Script">
			<clear/>
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="Either" requireAccess="Read" />
		</handlers>
	</system.webServer>
</configuration>